



/* .Home {
    width: 2300px;
    margin: 100px 100px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 25px;
    background-color: antiquewhite;
    opacity: 0.8;
} */


.containerHome {
    width: 250px;
    margin: 50px 50px;
    position: relative;
    z-index: 110;
    background-color: rgb(167, 238, 214);
    opacity: 0.9;

    border: 3px solid rgb(255, 255, 255);
    border-radius: 25px;
}


.containerHome .todayButton {
    background-color: rgba(225, 14, 253, 0.836);
}

.containerHome .lists {
   font-size:10px;
}


.containerHome button {
    height: 80px;
    width: 200px;
    opacity: 1;
}

.containerHome div {
    height: 70px;
    width: 70px;
}

.containerHome .birthdays {
    background-color: rgba(58, 14, 253, 0.836);
}

.containerHome .contacts {
    background-color: rgba(20, 189, 180, 0.966);
}